<html>
  <head> 
    <title> My website.com</title>
  <Style>
    
    h1 {
      font-size:50;
      color:rgb(42, 30, 207);
      border-style:solid;
      border-color:red;
      background-color:black
      






    }
    body{
background-color: wheat;
    }





    }
  </Style>
  
  
  
  
  
    <body>
    <button><h1>Rainbow Six Seige Is A Master Peice</h1></button>
  <h2>Rainbow Six Seige is the Best viedo game ever created with a relistic experience and based on real world events.</h2>
<img src="https://lh5.googleusercontent.com/proxy/ueDBRV9CiQrH3JwZkJHgOD75ONfx_tzcyyXLO6a55MQFA1bfS-Zoq2MQk-XUoZT19KHS-IYNC0zg0tQj1sPkQZopmlfcZnuZTksfkMb6Vn9tb9gFS8Szmgct5l0UyALCNMpDciKSxiTn3fFFuA"
<br><h2> Black ices are one of the pivital things in R6. This skin goes back to the early days where it was a most very desired skin and still is to this day.</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/L2S-nfTABGA?si=FBcT-vUMlq_qK7sc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<<table border="1">
      <tr>
        <th>Black ice</th>
        <th>Gun</th>
      </tr>
      <tr>
        <td>No</td>
        <td>Smg12</td>
      </tr>
      <tr>
        <td>Yes</td>
        <td>Mp5sd
        </td>
        <tr>
          <td>Yes</td>
          <td>r4c</td>
        </tr>
        <tr>
          <td>Yes</td>
          <td>buck dmr</td>
        </tr><tr>
          <td>Yes</td>
          <td>aruni dmr</td>
        </tr><tr>
          <td>No</td>
          <td>g36c</td>
        </tr>

        </td>
      </tr>
    </table>

</html>
